<div id="wrapper">
    <aside id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="active mt-3">
                <img href="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle m-4"
                                alt="Jennifer Chang" width="40" height="40">
                <img href="../../uploads/{{userData.profileImage}}" alt="">
            <h1>{{userData.name}}</h1>
            </li>
            <li class="active mt-3">
                <a href="#"><i class="fa fa-home"></i>Home</a>
            </li>
            <li class="mt-3">
                <a href="#"><i class="fa fa-plug"></i>Plugins</a>
            </li>
            <li class="mt-4">
                <a href="#"><i class="fa fa-user"></i>Users</a>
            </li>
        </ul>
    </aside>

    <div id="navbar-wrapper">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
        </nav>
    </div>
</div>