<div id="wrapper">
    <aside id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <div class="text-center mb-5">
                <img src="../../uploads/{{userData.profileImage}}" class="rounded-circle mb-2" alt="My Image" width="70" height="70">
                <h5 class="text-light">{{userData.name}}</h5>
                <p class="text-light">{{userData.phone}}</p>
                {{!-- <p class="text-light">{{userData.email}}</p> --}}
            </div>
            <li class="active mt-4">
                <a href="/home"><i class="fa fa-home"></i>Home</a>
            </li>
            <li class="mt-4">
                <a href="/chat"><i class="fa fa-users"></i>Group Chat</a>
            </li>
            <li class="mt-4">
                <a href="/logout"><i class="fa fa-user"></i>Logout</a>
            </li>
            <li class="mt-4 profile-button">
                <a href="/profile"><i class="fa fa-user"></i>Profile</a>
            </li>
            
        </ul>
    </aside>

    <div id="navbar-wrapper">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
        </nav>
    </div>
</div>